<!DOCTYPE html>
<html>
<head>

  <title>On the Move</title>


  <!-- Bootstrap Core CSS -->
  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="inc/jquery-jvectormap-2.0.3.css" type="text/css" media="screen"/>

  <script src="inc/jquery-2.2.4.min.js"></script> -->
  <script src="bootstrap/js/bootstrap.min.js"></script>

  <script src="inc/jquery-jvectormap-2.0.3.min.js"></script>
  <script src="inc/jquery-jvectormap-au-mill.js"></script>
  <script src="inc/pop-data-au.js"></script>
  <script src="inc/chart.min.js"></script>

  <script src="data/inputdata.js"></script>

  <style>
    #world-map-pop {
      position: absolute;
      left: 0px;
      top: 50px;
      z-index: -1;
    }

    #fixed-div {
      position: fixed;
      top: 1em;
      right: 1em;
    } 
  </style>

</head>
<body>

<!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <img class="navbar-brand" src="inc/robot.png">
        <a class="navbar-brand" href="index.html">On the Move</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="index.html">Global Map</a></li>
           <li><a href="australia.html">Australia Map</a></li>
           <li><a href="job.html">Job Vacancy Map</a></li>
          <li class="active"><a href="summary.html">Summary</a></li>
           <li><a href="robot.html">Chart Robot</a></li>
           <li><a href="machine.html">Machine Learning</a></li>
          <li><a href="about.html">About Us</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>


<hr><H1><center><u>Global Migration Data Summary</u></center></H1>
  <section class="content" style="text-align:center">
    <div class="row">
      <div>
        <script src="inc/highcharts.js"></script>
        <script src="inc/exporting.js"></script>

        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <div id="container1" style="min-width: 310px; height: 310px; margin: 0 auto"></div>
            </div>
          <div class="col-sm-6">
            <div id="container2" style="min-width: 310px; height: 310px; margin: 0 auto"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div id="container3" style="min-width: 310px; height: 310px; margin: 0 auto"></div>
          </div>
        <div class="col-sm-6">
          <div id="container6" style="min-width: 310px; height: 310px; margin: 0 auto"></div>
        </div>
      </div>
      <div class="row">
          <div id="container5" style="min-width: 310px; height: 310px; margin: 0 auto"></div>
      </div>
      <div class="row">
          <div id="container4" style="min-width: 310px; height: 310px; margin: 0 auto"></div>
      </div>

      </div>

  
    </div> 
  </div>




<script>

  $(function () {
      $('#container1').highcharts({
          chart: {
              plotBackgroundColor: null,
              plotBorderWidth: null,
              plotShadow: false,
              type: 'pie'
          },
          title: {
              text: 'Gender Ratio'
          },
          tooltip: {
              pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
          },
          plotOptions: {
              pie: {
                  allowPointSelect: true,
                  cursor: 'pointer',
                  dataLabels: {
                      enabled: true,
                      format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                      style: {
                          color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                      }
                  }
              }
          },
          series: [{
              name: 'Gender Ratio',
              colorByPoint: true,
              data: [{
                  name: 'Male',
                  y: 318936
              }, {
                  name: 'Female',
                  y: 369076,
              }]
          }]
      });
  });

$(function () {
      $('#container2').highcharts({
          chart: {
              plotBackgroundColor: null,
              plotBorderWidth: null,
              plotShadow: false,
              type: 'pie'
          },
          title: {
              text: 'Primary Language Distribution'
          },
          tooltip: {
              pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
          },
          plotOptions: {
              pie: {
                  allowPointSelect: true,
                  cursor: 'pointer',
                  dataLabels: {
                      enabled: true,
                      format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                      style: {
                          color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                      }
                  }
              }
          },
          series: [{
              name: 'Primary Language Distribution',
              colorByPoint: true,
              data: [{
                  name: 'English',
                  y: 116781
              }, {
                  name: 'Mandarin',
                  y: 42794
              }, {
                  name: 'Arabic',
                  y: 19180
              }, {
                  name: 'Hindi',
                  y: 13810
              }, {
                  name: 'Other',
                  y: 495567
              }]
          }]
      });
  });


  

$(function () {
    $('#container3').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'English Proficiency'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'English Proficiency',
            colorByPoint: true,
            data: [{
                name: 'Good',
                y: 7142
            }, {
                name: 'Nil',
                y: 51114
            }, {
                name: 'Not Recorded',
                y: 338032
            }, {
                name: 'Poor',
                y: 163426
            }, {
                name: 'Very Good',
                y: 128418
            }]
        }]
    });
});

$(function () {
    $('#container4').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Age Distribution'
        },
        subtitle: {
            text: 'Source: DSS Settlement Data as of 06 July 2016'
        },
        xAxis: {
            categories: [
                '0-5',
                '6-11',
                '12-15',
                '16-17',
                '18-24',
                '25-34',
                '35-44',
                '45-54',
                '55-64',
                '65+',
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Number of People'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Age',
            data: [5733,52050,24135,10733,53122,271807,131560,45290,25617,16485]

        }]
    });
});




$(function () {
      $('#container6').highcharts({
          chart: {
              plotBackgroundColor: null,
              plotBorderWidth: null,
              plotShadow: false,
              type: 'pie'
          },
          title: {
              text: 'Residential State or Territory'
          },
          tooltip: {
              pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
          },
          plotOptions: {
              pie: {
                  allowPointSelect: true,
                  cursor: 'pointer',
                  dataLabels: {
                      enabled: true,
                      format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                      style: {
                          color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                      }
                  }
              }
          },
          series: [{
              name: 'Number of People',
              colorByPoint: true,
              data: [{
                  name: 'ACT',
                  y: 12288
              }, {
                  name: 'NSW',
                  y: 228293
              }, {
                  name: 'NT',
                  y: 7450
              }, {
                  name: 'QLD',
                  y: 89544
              }, {
                  name: 'SA',
                  y: 43256
              }, {
                  name: 'TAS',
                  y: 5380
              }, {
                  name: 'VIC',
                  y: 196326
              }, {
                  name: 'WA',
                  y: 99512
              }, {
                  name: 'External Territories',
                  y: 41
              }, {
                  name: 'Not Recorded',
                  y: 6042
              }]
          }]
      });
  });


$(function () {
    $('#container5').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Migration Stream'
        },
        subtitle: {
            text: 'Source: DSS Settlement Data as of 06 July 2016'
        },
        xAxis: {
            categories: [
                'Skilled',
                'Family',
                'Humanitarian',
                'Other'
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Number of People'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Migration Stream',
            data: [421011,215134,51958,29]

        }]
    });
});










</script>




   




<script>
$(function () {
    /* ChartJS */

    //-------------
    //- PIE CHART -
    //-------------
    // Get context with jQuery - using jQuery's .get() method.
    var pieChartCanvas = $("#pieChart").get(0).getContext("2d");
    var pieChart = new Chart(pieChartCanvas);
    var PieData = [
      {
        value: 700,
        color: "#f56954",
        highlight: "#f56954",
        label: "0"
      },
      {
        value: 500,
        color: "#00a65a",
        highlight: "#00a65a",
        label: "1"
      },
      {
        value: 400,
        color: "#f39c12",
        highlight: "#f39c12",
        label: "2"
      },
      {
        value: 600,
        color: "#00c0ef",
        highlight: "#00c0ef",
        label: "3"
      },
      {
        value: 300,
        color: "#3c8dbc",
        highlight: "#3c8dbc",
        label: "4"
      },
      {
        value: 100,
        color: "#d2d6de",
        highlight: "#d2d6de",
        label: "5"
      }
    ];
    var pieOptions = {
      //Boolean - Whether we should show a stroke on each segment
      segmentShowStroke: true,
      //String - The colour of each segment stroke
      segmentStrokeColor: "#fff",
      //Number - The width of each segment stroke
      segmentStrokeWidth: 2,
      //Number - The percentage of the chart that we cut out of the middle
      percentageInnerCutout: 50, // This is 0 for Pie charts
      //Number - Amount of animation steps
      animationSteps: 100,
      //String - Animation easing effect
      animationEasing: "easeOutBounce",
      //Boolean - Whether we animate the rotation of the Doughnut
      animateRotate: true,
      //Boolean - Whether we animate scaling the Doughnut from the centre
      animateScale: false,
      //Boolean - whether to make the chart responsive to window resizing
      responsive: true,
      // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
      maintainAspectRatio: true,
      //String - A legend template
      legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<segments.length; i++){%><li><span style=\"background-color:<%=segments[i].fillColor%>\"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>"
    };
    //Create pie or douhnut chart
    // You can switch between pie and douhnut using the method below.
    pieChart.Doughnut(PieData, pieOptions);
  });
</script>


<script>
  $(function () {

    //-------------
    //- BAR CHART -
    //-------------
    var barChartCanvas = $("#barChart").get(0).getContext("2d");
    var barChart = new Chart(barChartCanvas);

    var barChartData = {
      labels: ["1", "2", "3", "4", "5", "6", "7"],
      datasets: [
        {
          label: "1",
          fillColor: "rgba(210, 214, 222, 1)",
          strokeColor: "rgba(210, 214, 222, 1)",
          pointColor: "rgba(210, 214, 222, 1)",
          pointStrokeColor: "#c1c7d1",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(220,220,220,1)",
          data: [65, 59, 80, 81, 56, 55, 40]
        },
        {
          label: "2",
          fillColor: "rgba(60,141,188,0.9)",
          strokeColor: "rgba(60,141,188,0.8)",
          pointColor: "#3b8bba",
          pointStrokeColor: "rgba(60,141,188,1)",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(60,141,188,1)",
          data: [28, 48, 40, 19, 86, 27, 90]
        }
      ]
    };

    barChartData.datasets[1].fillColor = "#00a65a";
    barChartData.datasets[1].strokeColor = "#00a65a";
    barChartData.datasets[1].pointColor = "#00a65a";
    var barChartOptions = {
      //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
      scaleBeginAtZero: true,
      //Boolean - Whether grid lines are shown across the chart
      scaleShowGridLines: true,
      //String - Colour of the grid lines
      scaleGridLineColor: "rgba(0,0,0,.05)",
      //Number - Width of the grid lines
      scaleGridLineWidth: 1,
      //Boolean - Whether to show horizontal lines (except X axis)
      scaleShowHorizontalLines: true,
      //Boolean - Whether to show vertical lines (except Y axis)
      scaleShowVerticalLines: true,
      //Boolean - If there is a stroke on each bar
      barShowStroke: true,
      //Number - Pixel width of the bar stroke
      barStrokeWidth: 2,
      //Number - Spacing between each of the X value sets
      barValueSpacing: 5,
      //Number - Spacing between data sets within X values
      barDatasetSpacing: 1,
      //String - A legend template
      legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].fillColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>",
      //Boolean - whether to make the chart responsive
      responsive: true,
      maintainAspectRatio: true
    };

    barChartOptions.datasetFill = false;
    barChart.Bar(barChartData, barChartOptions);
  });
</script>




</body>
</html>